.container {


  .row {
    display: flex;
    justify-content: center;
  
    table {
      max-width: 800px;
      margin-top: 2rem;
      
      color: #fff;
      tr {
        color: #fff;
      
      }
      td {
        color: #fff;
      }
    }
    
  }
}

